[include]
    path = .git-aliases/common
    path = .git-aliases/svn
    path = .git-aliases/extra
    path = .git-aliases/yandex
[color]
    diff = auto
    status = auto
    branch = auto
[color "branch"]
    current = green reverse
    local = green
    remote = red
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    untracked = cyan
[svn]
    rmdir = true
[core]
    safecrlf = true
    whitespace = space-before-tab,trailing-space
[push]
    default = tracking
[gc]
    auto = 0
[branch]
    autosetuprebase = always
[merge]
    tool = diffconflicts
[mergetool "diffconflicts"]
    cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true
    keepBackup = false
[advice]
    statushints = false
[diff]
    algorithm = patience
